:root {
    /* ### Primary */
    --primary01: #854dff;
    --primary02: #ff5757;
    /* ### Neutral */
    --neutral01: #ffffff;
    --neutral02: #f0f0f0;
    --neutral03: #dbdbdb;
    --neutral04: #716f6f;
    --neutral05: #141414;

    --ff: "Poppins", sans-serif;
    /* Font Weight 400 700 800 */
}

/* >>>>GENERAL STYLING<<<<<<<<< */
body {
    font-family: var(--ff);
}

/* >>>>LAYOUT<<<<<<<<< */

.wrapper {
    border: 1px solid purple;
    margin: 20px;
}
/* INPUT CONTAINER: */
.inputs-container {
    /* border: 2px solid red; */
    display: flex;
    max-width: 400px;
    gap: 5px;
}

.dates-container {
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dates-container label {
    margin-bottom: 5px;
}

.dates-container input {
    border: 0.5px solid rgb(193, 193, 193);
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
}

/* ----------------------- */

/* AGE-OUTPUT-CONTAINER: */

.age-output-container {
    border: 1px solid green;
}

.dates-container {
    color: var(--neutral04);
    font-weight: 700;
    font-size: 0.6rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.age-output-container {
    border: 1px solid red;
    font-size: 3rem;
    font-weight: 700;
}

.years,
.months,
.days {
    color: var(--primary01);
}

.years-container,
.months-container,
.days-container {
    display: flex;
    gap: 10px;
    margin: 5px;
}
/* -------------------- */

/* >>>>ADDITIONAL STYLING<<<<<<<<< */

/* >>>>@MEDIA QUERIES<<<<<<<<< */
