:root {
    /* ### Primary */
    --primary01: #854dff;
    --primary02: #ff5757;
    /* ### Neutral */
    --neutral01: #ffffff;
    --neutral02: #f0f0f0;
    --neutral03: #dbdbdb;
    --neutral04: #716f6f;
    --neutral05: #141414;

    --ff: "Poppins", sans-serif;
    /* Font Weight 400 700 800 */
}

/* >>>>GENERAL STYLING<<<<<<<<< */
body {
    font-family: var(--ff);
}

/* >>>>LAYOUT<<<<<<<<< */

.wrapper {
    border: 1px solid purple;
    margin: 20px;
    max-width: 550px;
    border-radius: 8px 8px 50px 8px;
    padding: 20px;
}

/* INPUT CONTAINER: */
.inputs-container {
    /* border: 2px solid red; */
    display: flex;
    max-width: 400px;
    gap: 15px;
}

.dates-container {
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dates-container label {
    margin-bottom: 5px;
}

.dates-container input {
    border: 0.5px solid rgb(193, 193, 193);
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

/* ----------------------- */

/* OUTPUT-BUTTON */

.output-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.output-bttn {
    padding: 10px 12px;
    background: var(--primary01);
    border-radius: 50%;
    border-style: none;
}

.output-bttn img {
    max-width: 24px;
}

.output-button-container:before {
    content: "";
    border: 0.5px solid rgb(82, 82, 82);
    width: 50%;
    height: 0.5px;
}
.output-button-container::after {
    content: "";
    border: 0.5px solid var(--neutral04);
    width: 50%;
    height: 0.5px;
}

/* AGE-OUTPUT-CONTAINER: */

.dates-container {
    color: var(--neutral04);
    font-weight: 700;
    font-size: 0.6rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.age-output-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 700;
}

.years-output,
.months-output,
.days-output {
    color: var(--primary01);
}

.years-container,
.months-container,
.days-container {
    display: flex;
    gap: 10px;
    margin: 5px;
}
/* -------------------- */

/* >>>>ADDITIONAL STYLING<<<<<<<<< */

/* >>>>@MEDIA QUERIES<<<<<<<<< */

@media (max-width: 300px) {
    .age-output-container {
        font-size: 2rem;
    }
}

@media (min-width: 400px) {
    .output-button-container {
        justify-content: end;
    }
}
